In [ ]:
%matplotlib inline


# Diabetes dataset

Ten variables, age, sex, body mass index, average blood pressure, and six blood serum measurements were obtained for each of n = 442 diabetes patients.

age:- age in years
sex:-
bmi:- body mass index
bp:- average blood pressure
s1 tc:- T-Cells (a type of white blood cells)
s2 ldl:- low-density lipoproteins
s3 hdl:- high-density lipoproteins
s4 tch:- thyroid stimulating hormone
s5 ltg:- lamotrigine
s6 glu:- blood sugar level

In [45]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd

# Load the diabetes dataset

data = datasets.load_diabetes()
df = pd.DataFrame(data.data, columns=data.feature_names)
target=pd.DataFrame(data= data['target'],
                     columns= ['sugar-level'])

In [48]:
df_new = pd.concat([df, target], axis=1)

In [39]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 11 columns):
age       442 non-null float64
sex       442 non-null float64
bmi       442 non-null float64
bp        442 non-null float64
s1        442 non-null float64
s2        442 non-null float64
s3        442 non-null float64
s4        442 non-null float64
s5        442 non-null float64
s6        442 non-null float64
target    442 non-null float64
dtypes: float64(11)
memory usage: 38.1 KB

In [51]:
df_new.head(5)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,sugar-level
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [ ]:
# np.c_ is the numpy concatenate function
# which is used to concat iris['data'] and iris['target'] arrays 
# for pandas column argument: concat iris['feature_names'] list
# and string list (in this case one string); you can make this anything you'd like..  
# the original dataset would probably call this ['Species']
d_data = datasets.load_diabetes()
data = pd.DataFrame(data= np.c_[d_data['data'], d_data['target']],
                     columns= d_data['feature_names'] + ['sugar-level'])

In [50]:
data.head(5)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,sugar-level
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

Data habve been Uploaded in two dataframes 'data' and 'df_new' 
You can use any of the two.

target columns os sugar-level that you need to predict